CompileFlags:
  Add:
    - "-ID:/dev/Unreal/EditorPlugin/Plugins/AbsytreeUE/Source/AbsytreeUE/Public"
    - "-DABSYTREEUE_API="

    # Engine include paths. these should probably be split per module
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/Core/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/TraceLog/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/SlateCore/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/CoreUObject/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/ApplicationCore/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/InputCore/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/InputCore/Classes"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Runtime/Slate/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Editor/UnrealEd/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Developer/ToolMenus/Public"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Source/Developer/Settings/Public"

    # Plugin UHT include paths
    - "-ID:/dev/Unreal/EditorPlugin/Intermediate/Build/Win64/UnrealEditor/Inc/EditorPlugin/UHT"
    - "-ID:/dev/Unreal/EditorPlugin/Plugins/AbsytreeUE/Intermediate/Build/Win64/UnrealEditor/Inc/AbsytreeUE/UHT"

    # Engine UHT include paths
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AddContentDialog/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AdvancedPreviewScene/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AdvancedWidgets/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AIGraph/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AIModule/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AITestSuite/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnalyticsVisualEditing/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Android/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimationBlueprintEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimationBlueprintLibrary/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimationCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimationDataController/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimationEditMode/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimationEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimationModifiers/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimGraph/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AnimGraphRuntime/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AssetDefinition/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AssetRegistry/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AssetTools/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AudioAnalyzer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AudioEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AudioExtensions/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AudioLinkCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AudioLinkEngine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AudioMixer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AudioPlatformConfiguration/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AugmentedReality/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AutomationController/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AutomationMessages/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AutomationTest/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/AutomationWindow/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/BehaviorTreeEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/BlueprintEditorLibrary/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/BlueprintGraph/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/BlueprintRuntime/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Blutility/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/BuildPatchServices/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Cascade/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Chaos/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ChaosSolverEngine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ChaosVDRuntime/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ChaosVehiclesEngine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/CinematicCamera/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClassViewer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClientPilot/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClothingSystemEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClothingSystemEditorInterface/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClothingSystemRuntimeCommon/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClothingSystemRuntimeNv/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClothPainter/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ClothSysRuntimeIntrfc/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/CollectionManager/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ComponentVisualizers/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ConfigEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Constraints/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ContentBrowser/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ContentBrowserData/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/CoreOnline/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/CoreUObject/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/CSVtoSVG/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/CurveEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DataflowCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DataflowEngine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DataLayerEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DatasmithCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DetailCustomizations/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DeveloperSettings/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DeveloperToolSettings/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DeviceProfileServices/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DirectLink/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Documentation/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/DrawPrimitiveDebugger/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EditorConfig/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EditorFramework/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EditorInteractiveToolsFramework/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EditorSubsystem/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EditorWidgets/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Engine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EngineMessages/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EngineSettings/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ExternalRpcRegistry/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/EyeTracker/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/FieldNotification/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/FieldSystemEngine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Foliage/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/FoliageEdit/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/FriendsAndChat/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/FunctionalTesting/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GameMenuBuilder/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GameplayDebugger/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GameplayTags/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GameplayTasks/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GameplayTasksEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GameProjectGeneration/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GeometryCollectionEngine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GeometryFramework/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/GraphEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/HardwareTargeting/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/HeadMountedDisplay/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/HierarchicalLODOutliner/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/HordeExecutor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/HttpReplayStreaming/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ImageWriteQueue/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/InputBindingEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/InputCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/InteractiveToolsFramework/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/InterchangeCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/InterchangeEngine/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/InternationalizationSettings/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/IOS/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/IrisCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/JsonUtilities/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Kismet/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/KismetWidgets/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Landscape/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LandscapeEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LandscapeEditorUtilities/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LaunchDaemonMessages/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LevelEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LevelInstanceEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LevelSequence/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LFNRS/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Linux/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LiveCoding/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LiveLinkAnimationCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LiveLinkInterface/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LiveLinkMessageBusFramework/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Localization/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LocalizationDashboard/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/LogVisualizer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MacTargetPlatform/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MaterialBaking/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MaterialEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MaterialUtilities/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MediaAssets/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MediaUtils/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MergeActors/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MeshDescription/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MeshPaint/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MessagingRpc/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MoviePlayer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MovieScene/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MovieSceneCapture/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MovieSceneTools/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MovieSceneTracks/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MRMesh/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/MSQS/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/NavigationSystem/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/NetCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/OutputLog/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Overlay/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/OverlayEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PacketHandler/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Persona/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PhysicsAssetEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PhysicsCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PhysicsUtilities/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PIEPreviewDeviceProfileSelector/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PIEPreviewDeviceSpecification/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PinnedCommandList/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PixelInspectorModule/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PortalMessages/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PortalRpc/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PortalServices/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ProfilerMessages/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PropertyEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/PropertyPath/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/RemoteExecution/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Renderer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/RewindDebuggerInterface/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/RuntimeAssetCache/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SceneOutliner/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ScreenShotComparisonTools/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ScriptableEditorWidgets/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Sequencer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SequencerCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SequenceRecorder/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SequenceRecorderSections/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Serialization/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SessionMessages/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SkeletalMeshEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SkeletonEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Slate/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SlateCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SlateReflector/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SourceCodeAccess/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SourceControl/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SourceControlWindows/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SparseVolumeTexture/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/StageDataCore/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/StaticMeshDescription/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/StaticMeshEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/StatsViewer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/StatusBar/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/StringTableEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/StructViewer/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SubobjectDataInterface/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SubobjectEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/SwarmInterface/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/TargetDeviceServices/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/TextureEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/TextureUtilitiesCommon/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/TimeManagement/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ToolMenus/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ToolMenusEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ToolWidgets/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/TranslationEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/TypedElementFramework/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/TypedElementRuntime/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/UMG/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/UMGEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/UndoHistoryEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/UnrealEd/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/UnrealEdMessages/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/VectorVM/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/ViewportInteraction/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/Virtualization/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/VirtualizationEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/VirtualTexturingEditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/VisualGraphUtils/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/VREditor/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/WebBrowser/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/WebBrowserTexture/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/WidgetCarousel/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/WidgetRegistration/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/WindowsTargetPlatform/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/WorldBrowser/UHT"
    - "-IC:/Program Files/Epic Games/UE_5.3/Engine/Intermediate/Build/Win64/UnrealEditor/Inc/WorldPartitionEditor/UHT"

    - "-std=c++17"

    - "-DUE_BUILD_DEBUG"

    - "-DWITH_EDITOR=1"
    - "-DWITH_ENGINE=0"
    - "-DWITH_UNREAL_DEVELOPER_TOOLS=1"
    - "-DWITH_UNREAL_TARGET_DEVELOPER_TOOLS=1"
    - "-DWITH_PLUGIN_SUPPORT=1"
    - "-DWITH_HOT_RELOAD=1"
    - "-DWITH_LIVE_CODING=1"
    - "-DWITH_SERVER_CODE"

    - "-DOVERRIDE_PLATFORM_HEADER_NAME=Windows"

    - "-DIS_MONOLITHIC=0"
    - "-DIS_PROGRAM=0"

    - "-DPLATFORM_WINDOWS"
    - "-D_UNICODE"
    - "-DUNICODE"
    - "-DWINVER=0x0A00"

    # undefine __OBJC__ (for objective-c), idk why this is defined by default
    - "-U__OBJC__"

    # define ..._API as empty
    - "-DCORE_API="
    - "-DTRACELOG_API="
    - "-DCOREUOBJECT_API="
    - "-DSLATECORE_API="
    - "-DINPUTCORE_API="
    - "-DAPPLICATIONCORE_API="
    - "-DUNREALED_API="
    - "-DSLATE_API="
    - "-DTOOLMENUS_API="